# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode & Swift Build Files
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcscmblueprint
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Temporary / Scratch Files
scratch/
